.scroll-float {
  overflow: hidden;
  display: inline-block;
}

.scroll-float-text {
  display: inline-block;
  white-space: nowrap;
}

.scroll-float .char {
  display: inline-block;
  will-change: transform, opacity;
}
