.liquid-ether-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.liquid-ether-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
